numpy
Pillow
opencv-python
opencv-contrib-python
PyOpenGL @ git+https://github.com/mcfletch/pyopengl.git@release-3.1.8#egg=PyOpenGL
termcolor
websocket_client
flask
flask_cors
pyreadline
openai
google-cloud-texttospeech
